*{
    margin: 0;
    padding: 0;
}

body{
    background: aquamarine;
}

h1{
    text-align: center;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}

.card{
    border: 2px solid black;
    margin-bottom: 12px;
    margin-left: 20px;
    float: left;
    box-shadow: 5px 2px 2px;
}

.color-btn{
    background: red;
    border: 0;
    font-size: 1em;
}

.color-btn:hover{
    background: yellow;
    color: black;
}